{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
  <br>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src={{movie.Movie.img_url}} class="card-img-top" id="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="title">{{movie.Movie.title}}</h5>
          <p class="card-text" id="year">Year : {{movie.Movie.year}}<br>
          </p>
          <p id="genre">
            Genre : {{movie.Movie.genre}}<br>
          </p>
          <p id="rating">
            IMDB Rating : {{movie.Movie.imdb_rating}}<br>
          </p>
          <p id="details">
            Imdb : <a href="http://www.imdb.com/title/{{movie.Movie.imdb_id}}" target="_blank">
            {{movie.Movie.imdb_id}} Details</a>
          </p>
          <p id="review">
            My review : {{movie.UserMovie.user_review}}<br>
          </p>
          <p id="my_rating">
            My Rating : {{movie.UserMovie.user_rating}}<br>
          </p>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form action="{{ url_for('update_movie', user_id=user_id, imdb_id=imdb_id) }}" method="post" >
    {{ form.rating.label(class="form-label") }}
    {{ form.rating(class="form-control") }}
    <br>
    {{ form.review.label(class="form-label") }}
    {{ form.review(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}
    <a href="{{ url_for('list_user_movies', user_id=user_id) }}" class="button"><button type="button" class="btn btn-primary">Cancel Update</button></a>
  </form>
</div>
{%endblock%}
