{% extends "base.html" %}


{% block content %}
<div class="container">
  <br>
  <div class="alert alert-secondary" role="alert">
    <h3>Movies for {{user_name}} </h3>
  </div>
  <br>
  <div class="container text-center add">
    <a href="{{ url_for('search_movie', user_id=user_id) }}" class="button">
      <button type="button" class="btn btn-secondary">Add a Movie</button></a>
  </div>
  <br>
  <div class="row row-cols-1 row-cols-md-3">
    {% for movie in movies %}
    <div class="col mb-4">
      <div class="card">
        <img src={{movie.img_url}} class="card-img-top" id="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" id="title">{{movie.title}}</h5>
          <p class="card-text" id="year">Year : {{movie.year}}<br>
          </p>
          <p id="genre">
            Genre : {{movie.genre}}<br>
          </p>
          <p id="rating">
            IMDB Rating : {{movie.imdb_rating}}<br>
          </p>
          <p id="details">
            Imdb : <a href="http://www.imdb.com/title/{{movie.imdb_id}}" target="_blank">
            {{movie.imdb_id}} Details</a>
          </p>
          <p id="review">
            My review : {{movie.user_review}}<br>
          </p>
          <p id="my_rating">
            My Rating : {{movie.user_rating}}<br>
          </p>
          <br>
          <a href="{{ url_for('update_movie', user_id=user_id, imdb_id=movie.imdb_id) }}" class="button"><button type="button" class="btn btn-secondary">Update</button></a>
          <a href="{{ url_for('delete_movie', user_id=user_id, imdb_id=movie.imdb_id) }}" class="button"><button type="button" class="btn btn-danger">Remove</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
{% with messages = get_flashed_messages() %}
  {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <h5>{{message}}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endwith %}
</div>
{%endblock%}
